* {
  margin: 15px 15px 15px 15px;
}

h5 {
  font: Inconsolata;
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
}
img {
  width: 674.96px;
  height: 643.96pxpx;
  margin-top: 20vh;
}
.container {
  display: flex;
  justify-content: space-around;
}

.textContainer {
  margin-top: 20vh;
  font-family: "Space Mono", monospace;
  color: #333333;

  font-size: 3rem;
}
p{
    font-size: 24px;
    color: #4F4F4F;
}
input[type = "button"] {
    background-color: black;
    color: white;
    padding: 20px;
}
.footer{
    color: #BDBDBD;
    width: 287px;
    Height:17px;
    font-size:14px;
    margin-left:80vh;
    margin-top: 10vh;
}